body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-top: 0;
}

.form-container {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.form-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

.button {
  background-color: #eee;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #ccc;
}

input[type="number"],
input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="number"]:focus,
input[type="text"]:focus,
select:focus {
  outline: none;
  border-color: #007bff;
}

.transaction-history-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.transaction-history-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}
footer{
    text-align: center;
    font-family: cursive;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  background-color: #eee;
}
